{% extends "page.html" %}

{% if announcement_login %}
  {% set announcement = announcement_login %}
{% endif %}

{% block login_widget %}
{% endblock %}

{% block main %}

{% block login %}

<div class="container-fluid body-wrapper">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
      <div class="wrapper">
        <a href="https://www.malariagen.net"><img src="https://www.malariagen.net/sites/all/themes/malgen/logo.svg" alt="Malariagen logo" class="logo"></a>
        <div class="stripe"></div>
        <h1 class="text-normal" role="banner">Sign in with your MalariaGEN account</h1>

        <div id="loginTable1" class="identity-box">





        <div class="row">
        <!-- username -->


          <div class="col-sm-12 col-md-5">
            <a role="button" class='btn btn-pcc btn-lg' href='{{authenticator_login_url}}'>
              Sign in {{login_service}}
            </a>
          </div>


            <!-- sign in button -->

      </div> <!-- row for username, password, sign in button -->

        <!-- stay signed in and forgot password, etc. -->
        <div class="row" id="help-links">

            <div class="col-sm-12 col-md-7">
            </div> <!-- sm-12 col-md-7 -->

        </div>

        <!--<div class="col-xs-12 form-group">

    </div>
    <div class="clearfix"></div>-->
  </div>









      </div>
    </div>
  </div>
</div>



{% endblock login %}
{% endblock %}


{% block script %}
{{super()}}

<script>
if (window.location.protocol === "http:") {
  // unhide http warning
  var warning = document.getElementById('insecure-login-warning');
  warning.className = warning.className.replace(/\bhidden\b/, '');
}
</script>

{% endblock %}
