{% extends "page.html" %} 
{% block main %}

<div class="container">
    <div class="row">
        <div class="text-center">
            {% if user.running %}
            <a id="stop" role="button" class="btn btn-lg btn-danger">Stop My Server</a> {% endif %}
            <a id="start" role="button" class="btn btn-lg btn-success" href="{{ url }}">
      {% if not user.running %}
      Start
      {% endif %}
        My Server
      </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h1>                      </h1>
    </div>
</div>
<div class="container-fluid body-wrapper">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
            <div class="wrapper">
                <a href="https://www.malariagen.net"><img src="https://www.malariagen.net/sites/all/themes/malgen/logo.svg" alt="Malariagen logo" class="logo"></a>
                <div class="stripe"></div>
                <h1 class="text-normal" role="banner"><center>MalariaGEN Cloud </center></h1>

                <div id="loginTable1" class="identity-box">

                    <div class="row">

                    </div>

                    <div class="row" id="help-links">

                        <div class="col-sm-12 col-md-7">
                        </div>

                    </div>

                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %} 
{{ super() }} 
{% block script %}
<script type="text/javascript">
    require(["home"]);
</script>
{% endblock %}
